extends layout

block content

  .p-3.mb-2.bg-light.text-dark

    p
      button.btn(onclick='buildCode()') 
        i.fa.fa-cogs
        |  Build
      button.btn
        i.fa.fa-download
        |  Download


    #blocklyDiv(style='height: 480px; width: 600px;')
    xml#toolbox(xmlns='https://developers.google.com/blockly/xml' style='display: none')
      block(type='speech_say')
      block(type='locations_goto')
      block(type='locations_go_home')
      block(type='follow_unconstrained')
      block(type='follow_constrained')
      block(type='movement_turn')
      block(type='movement_tilt')
      block(type='movement_joystick')
