doctype html
html(lang='en', dir='ltr')
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Favicon
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    
    // FontAwesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    
    // Bootstrap
    // https://getbootstrap.com/
    link(rel='stylesheet' type='text/css' href='/static/css/bootstrap.min.css')
    script(type='text/javascript', src='/static/js/bootstrap/bootstrap.bundle.min.js')
    
    // Materialize
    // https://materializecss.com/about.html
    //- link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    // Blockly    
    script(type='text/javascript', src='/blockly/blockly_compressed.js')
    script(type='text/javascript', src='/blockly/msg/js/en.js')
    script(type='text/javascript', src='/blockly/javascript_compressed.js')
    script(type='text/javascript', src='/blocks/test.js')
    script(type='text/javascript', src='/generators/test.js')

  body(onload='init()')
    // Header
    .p-3.mb-2.bg-primary.text-white
      br
      .container
        h1.page-header
          i.fas.fa-robot
          | #{title}
        p
          | #{version}

    block content

    // Footer
    footer.page-footer
    
      // Copyright
      .footer-copyright.text-center.py-3
        p © 2020 hapi-robo st, Inc. — All Rights Reserved.
        p 
          | Made in 
          |
          a(target='_blank', href='https://www.google.com/maps/place/Tokyo,+Japan') Tokyo, Japan.

    // Javascript
    script(type='text/javascript', src='/static/js/events.js')
